body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
  margin: 0;
  padding: 0;
}

.container {

  max-width: 800px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #007bff;
}

h2 {
  color: #495057;
  text-align: center;
}

form {
  margin-bottom: 20px;
}

select,
input[type='submit'] {
  margin-top: 10px;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #dee2e6;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #e9ecef;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.btn-custom {
  background-color: #007bff;
  color: white;
  display: block;
  /* Fait du bouton un élément de bloc */
  margin: 0 auto;
  /* Centre le bouton horizontalement */
  text-align: center;
  /* Centre le texte à l'intérieur du bouton */
}

.btn-custom:hover {
  background-color: #0056b3;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: auto;
  margin: 10px;
}
.btn-green {
  background-color: #28a745; /* Couleur verte */
  color: white;
  display: block; /* Fait du bouton un élément de bloc */
  margin: 20px auto; /* Centre le bouton horizontalement avec une marge en haut et en bas */
  text-align: center; /* Centre le texte à l'intérieur du bouton */
  padding: 10px 20px; /* Ajoute du padding pour rendre le bouton plus grand */
  border: none; /* Supprime la bordure par défaut */
  border-radius: 5px; /* Ajoute des coins arrondis */
  font-size: 16px; /* Ajuste la taille de la police */
}

.btn-green:hover {
  background-color: #218838; /* Couleur verte plus foncée au survol */
}


.form-control {
  text-align: center;
}